* {
    font-family: "Helvetica";
    background-color: #4cd964;
    /* border-radius: 40px !important; */
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.progress-bar {
    background-color: pink !important;
}

#a,
#b,
#c,
#d,
#next-question {
    background-color: #4cd964;
    border-radius: 40px;
}

#a:hover,
#b:hover,
#c:hover,
#d:hover {
    background-color: #f1c40f;
}

#ques {
    background-color: #007aff;
}

.message {
    border-radius: 0px;
    border-left: 6px solid;
    /* border-left: 6px solid; */
    /* border-color: #2196f3 !important; */
    /* border-color: #f21515 !important; */
    padding: 0.2em 16px;
    background-color: #ddffff !important;
    width: 300px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    animation: fadeIn ease 0.4s, fadeOut linear 0.5s 2s forwards;
}

.message > div {
    background-color: #ddffff !important;
}

.message-right {
    border-color: blue;
}

.message-wrong {
    border-color: red;
}

@keyframes fadeIn {
    from {
        right: -300px;
    }

    to {
        right: 1rem;
    }
}

@keyframes fadeOut {
    /* from {
        opacity: 100%;
    } */

    to {
        opacity: 0%;
    }
}
